.THIS .boldText{
    font-weight: bold;
    color: black;
}
.THIS .highlight-orange{
    background-color :#f79646;
}
.THIS .right-align{
    text-align:right;
}
.THIS .summary-row{
    background-color :#cccccc;
}