.THIS .slds-modal__container{
       max-width: 50rem !important;
       width:100% !important;

}
.THIS .slds-tabs--default__nav li.NEW{
     background: red;
}

.THIS .slds-card{
    background: #f7f7f7 !important;
}

.THIS .date-in-table .slds-datepicker .slds-day {
    
    display : contents;
    position: absolute;
    z-index: 7000;
    left: -0.71875px;
}

.THIS .date-in-table .slds-is-selected .slds-day{
    background: rgba(27, 82, 151, 1.0) !important;
    color: rgb(255, 255, 0) !important;
    display: block;
    top: 5px;
}

.THIS .customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS  .reserve-tab-link {
    background: #ffcdc0  !important;
    color: #3E3E3C !important;
}

.THIS  .reserve-tab-link-active {
    background: #ad321c !important;
    color: #fff !important;
}
.THIS.payment-instruction-modal .slds-modal__container{
	width: 1000px !important;
	max-width: 1000px !important;
}

.THIS .payment-summary-accordion{
	width: 900px !important;
	max-width: 900px !important;    
}

.THIS .payment-instructions{
	width: 1000px !important;
	max-width: 1000px !important;    
}
.THIS .margin-adjust{
    margin-left: 26px !important;
}